.aptaxi-footer {
    background-color: #181818;
    color: #fff;
    padding: 20px 0;
}

.aptaxi-footer-top-section .aptaxi-footer-top-wrapper .aptaxi-footer-top-content {
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.aptaxi-footer-top-section .aptaxi-footer-top-wrapper .aptaxi-footer-top-content > * {
    align-items: flex-start;
    text-align: center;
}
.aptaxi-footer-top-section .aptaxi-footer-top-wrapper .aptaxi-footer-top-content .aptaxi-footer-top-logo a {
    display: block;
    width: 100%;
    height: auto;
}
.aptaxi-footer-top-section .aptaxi-footer-top-wrapper .aptaxi-footer-top-content .aptaxi-footer-top-logo a img {
    width: 294px;
    height: 97px;
}
.aptaxi-footer-top-section .aptaxi-footer-top-wrapper .aptaxi-footer-top-content .aptaxi-footer-top-description {
    font-size: 26px;
    line-height: 1.35;
    font-family: "Oswald SemiBold";
    text-transform: uppercase;
}

.aptaxi-footer-top-section .aptaxi-footer-top-wrapper .aptaxi-footer-top-content .aptaxi-footer-top-widget .widget p a {
    font-size: 28px;
    text-transform: uppercase;
    color: #fff;
    font-family: "Oswald Regular";
    line-height: 1.75;
}
.aptaxi-footer-top-section .aptaxi-footer-top-wrapper .aptaxi-footer-top-content .aptaxi-footer-top-widget .widget p a:hover {
    color: #e36703;
}
.aptaxi-footer-top-section .aptaxi-footer-top-wrapper .aptaxi-footer-top-content .aptaxi-footer-top-widget .widget .textwidget > :last-child {
    padding-left: 20%;
    font-size: 20px;
    text-transform: uppercase;
    color: #6d6d6d;
    font-family: "Oswald Regular";
}



.aptaxi-footer-social-section .aptaxi-footer-social-wrapper .aptaxi-footer-social-content {
    align-items: center;
    justify-content: flex-end;
    padding-right: 9%;
}
.aptaxi-footer-social-section .aptaxi-footer-social-wrapper .aptaxi-footer-social-content > a {
    display: block;
    margin: 0 5px;
    font-size: 24px;
    color: #fff;
}
.aptaxi-footer-social-section .aptaxi-footer-social-wrapper .aptaxi-footer-social-content > a:hover {
    color: #e36703;
}



.aptaxi-footer-form-section .aptaxi-footer-form-wrapper .aptaxi-footer-form-content {
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding-right: 3%;
    margin-top: 20px;
    margin-bottom: 40px;
}
.aptaxi-footer-form-section .aptaxi-footer-form-wrapper .aptaxi-footer-form-content .aptaxi-footer-input {
    height: 51px;
    width: 295px;
    padding: 20px 15px;
    font-family: "Segoe UI";
    font-size: 18px;
    line-height: 22px;
    color: #6d6d6d;
    font-weight: 500;
    margin: 0 10px;
}
.aptaxi-footer-form-section .aptaxi-footer-form-wrapper .aptaxi-footer-form-content >:first-child {
    margin-left: 0px;
}
.aptaxi-footer-form-section .aptaxi-footer-form-wrapper .aptaxi-footer-form-content .aptaxi-footer-form-button {
    height: 51px;
    width: 200px;
    border: none;
    background-color: #e36703;
    color: #181818;
    font-family: "Segoe UI";
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}
.aptaxi-footer-form-section .aptaxi-footer-form-wrapper .aptaxi-footer-form-content .aptaxi-footer-form-button:hover {
    background-color: #fff;
}



.aptaxi-footer-copyrights-section .aptaxi-footer-copyrights-wrapper .aptaxi-footer-copyrights-content {
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
.aptaxi-footer-copyrights-section .aptaxi-footer-copyrights-wrapper .aptaxi-footer-copyrights-content .aptaxi-footer-link-pages {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 0 10px;
}
.aptaxi-footer-copyrights-section .aptaxi-footer-copyrights-wrapper .aptaxi-footer-copyrights-content .aptaxi-footer-link-pages a {
    color: #6d6d6d;
    font-size: 14px;
    font-family: "Segoe UI";
    font-weight: 500;
    line-height: 16px;
}
.aptaxi-footer-copyrights-section .aptaxi-footer-copyrights-wrapper .aptaxi-footer-copyrights-content .aptaxi-footer-link-pages a:hover {
    color: #fff;
}
.aptaxi-footer-copyrights-section .aptaxi-footer-copyrights-wrapper .aptaxi-footer-copyrights-content .aptaxi-footer-link-pages span {
    color: #6d6d6d;
    font-size: 14px;
    margin: 0 10px;
}
.aptaxi-footer-copyrights-section .aptaxi-footer-copyrights-wrapper .aptaxi-footer-copyrights-content .aptaxi-footer-hr {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: stretch;
    width: 54%;
}
.aptaxi-footer-copyrights-section .aptaxi-footer-copyrights-wrapper .aptaxi-footer-copyrights-content .aptaxi-footer-hr hr {
    color: #6d6d6d;
    border-color: #6d6d6d;
    width: 100%;
}
.aptaxi-footer-copyrights-section .aptaxi-footer-copyrights-wrapper .aptaxi-footer-copyrights-content .aptaxi-footer-copyright-text {
    padding: 0 10px;
    display: flex;
    align-items: center;
    width: 29%;
}
.aptaxi-footer-copyrights-section .aptaxi-footer-copyrights-wrapper .aptaxi-footer-copyrights-content .aptaxi-footer-copyright-text span {
    color: #6d6d6d;
    font-size: 14px;
    font-family: "Segoe UI";
    font-weight: 500;
    line-height: 16px;
}


@media only screen and (max-width: 991px) {
    .aptaxi-footer-top-section .aptaxi-footer-top-wrapper .aptaxi-footer-top-content {
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .aptaxi-footer-form-section .aptaxi-footer-form-wrapper .aptaxi-footer-form-content {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .aptaxi-footer-form-section .aptaxi-footer-form-wrapper .aptaxi-footer-form-content > *,
    .aptaxi-footer-form-section .aptaxi-footer-form-wrapper .aptaxi-footer-form-content .aptaxi-footer-input {
        margin: 10px 0;
    }
    .aptaxi-footer-form-section .aptaxi-footer-form-wrapper .aptaxi-footer-form-content >:first-child {
        margin: 10px 0;
    }
    .aptaxi-footer-copyrights-section .aptaxi-footer-copyrights-wrapper .aptaxi-footer-copyrights-content {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .aptaxi-footer-copyrights-section .aptaxi-footer-copyrights-wrapper .aptaxi-footer-copyrights-content > *,
    .aptaxi-footer-copyrights-section .aptaxi-footer-copyrights-wrapper .aptaxi-footer-copyrights-content .aptaxi-footer-link-pages,
    .aptaxi-footer-copyrights-section .aptaxi-footer-copyrights-wrapper .aptaxi-footer-copyrights-content .aptaxi-footer-hr,
    .aptaxi-footer-copyrights-section .aptaxi-footer-copyrights-wrapper .aptaxi-footer-copyrights-content .aptaxi-footer-copyright-text {
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .aptaxi-footer-social-section .aptaxi-footer-social-wrapper .aptaxi-footer-social-content {
        align-items: center;
        justify-content: center;
    }



    .aptaxi-footer-form-section .aptaxi-footer-form-wrapper .aptaxi-footer-form-content {
        flex-wrap: wrap;
        margin: 10px 0;
    }
    .aptaxi-footer-form-section .aptaxi-footer-form-wrapper .aptaxi-footer-form-content .aptaxi-footer-input {
        margin: 5px auto;
        width: 75%;
    }
    .aptaxi-footer-top-section .aptaxi-footer-top-wrapper .aptaxi-footer-top-content {
        flex-wrap: wrap;
    }
    .aptaxi-footer-social-section .aptaxi-footer-social-wrapper .aptaxi-footer-social-content {
        justify-content: center;
        padding: 0;
    }
    .aptaxi-footer-top-section .aptaxi-footer-top-wrapper .aptaxi-footer-top-content .aptaxi-footer-top-widget .widget .textwidget > :last-child {
        padding-left: 0;
    }
    .aptaxi-footer-copyrights-section .aptaxi-footer-copyrights-wrapper .aptaxi-footer-copyrights-content {
        flex-wrap: wrap;
    }
    .aptaxi-footer-copyrights-section .aptaxi-footer-copyrights-wrapper .aptaxi-footer-copyrights-content .aptaxi-footer-link-pages,
    .aptaxi-footer-copyrights-section .aptaxi-footer-copyrights-wrapper .aptaxi-footer-copyrights-content .aptaxi-footer-hr,
    .aptaxi-footer-copyrights-section .aptaxi-footer-copyrights-wrapper .aptaxi-footer-copyrights-content .aptaxi-footer-copyright-text,
    .aptaxi-footer-copyrights-section .aptaxi-footer-copyrights-wrapper .aptaxi-footer-copyrights-content .aptaxi-footer-copyright-text span {
        width: 100%;
        text-align: center;
    }
    
}