.aptaxi-navbar .aptaxi-navbar-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.aptaxi-navbar .aptaxi-navbar-content .aptaxi-menu-item {
    height: 65px;
    padding: 0;
    width: 100%;
}
.aptaxi-navbar .aptaxi-navbar-content .aptaxi-menu-item .aptaxi-menu-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
}
.aptaxi-navbar .aptaxi-navbar-content .aptaxi-menu-item .aptaxi-menu-link img {
    filter: none;
    margin-right: 10px;
}
.aptaxi-navbar .aptaxi-navbar-content .aptaxi-menu-item .aptaxi-menu-link span {
    font-size: 15px;
    font-family: "Segoe UI";
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    color: #939393;
}
.aptaxi-navbar .aptaxi-navbar-content .aptaxi-menu-item .aptaxi-menu-link:hover,
.aptaxi-navbar .aptaxi-navbar-content .aptaxi-menu-item .aptaxi-menu-link:active {
    background-color: #e46701;
    color: #fff;
}
.aptaxi-navbar .aptaxi-navbar-content .aptaxi-menu-item .aptaxi-menu-link:hover span,
.aptaxi-navbar .aptaxi-navbar-content .aptaxi-menu-item .aptaxi-menu-link:active span {
    color: #fff;
}
.aptaxi-navbar .aptaxi-navbar-content .aptaxi-menu-item .aptaxi-menu-link:hover img,
.aptaxi-navbar .aptaxi-navbar-content .aptaxi-menu-item .aptaxi-menu-link:active img {
    filter: brightness(5);
}

.aptaxi-navbar .aptaxi-navbar-content .current-menu-item .aptaxi-menu-link {
    background-color: #e46701;
    color: #fff;
}
.aptaxi-navbar .aptaxi-navbar-content .current-menu-item .aptaxi-menu-link img {
    filter: brightness(5);
}
.aptaxi-navbar .aptaxi-navbar-content .current-menu-item .aptaxi-menu-link span {
    color: #fff;
}


@media (min-width: 480px) and (max-width: 768px) {
    .aptaxi-navbar .aptaxi-navbar-content {
        flex-flow: row wrap;
    }
    .aptaxi-navbar .aptaxi-navbar-content .aptaxi-menu-item {
        width: 45%;
        margin: 0 5px;
    }
}

@media (min-width: 767px) and (max-width: 991px) {
    .aptaxi-navbar .aptaxi-navbar-content {
        flex-flow: row wrap;
    }
    .aptaxi-navbar .aptaxi-navbar-content .aptaxi-menu-item {
        width: 33.33333%;
        margin: 0;
    }
}